@import url('https://fonts.googleapis.com/css2?family=Tomorrow:wght@300;700;500;600&display=swap');

body{
    background-color: #00060F;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
html{
    overflow-x: hidden;

}
.faq-row-wrapper{
    background-color: transparent !important;
}
.row-content-text{
    background: #5E5D5D2B !important;
    color: #FFFFFF !important;
    padding: 20px !important;
height: max-content !important;
margin: 10px 0 !important;
font-family: 'Tomorrow', sans-serif;
font-size: 18px;
font-weight: 300 !important;

}

.row-title-text{
    color: rgba(255, 255, 255, 0.61)!important;
    font-family: 'Tomorrow', sans-serif;
  font-size: 24px;
  margin: 10px !important;
  font-weight: 300 !important;

}
.arrow-image{
    color:  white !important;
    fill:  white !important;
    
}
.arrow-image svg{
    color:  white !important;
    fill:  white !important;

}
.styles_faq-row-wrapper__3vA1D .styles_row-body__1NvUo .styles_faq-row__2YF3c .styles_row-title__1YiiY {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    color: white !important;
    cursor: pointer;
    align-items: center;
}

ul li{
    margin-bottom: 20px;
    cursor: pointer;
    color: white !important;
  }
  a{
    color: white;
  }

  @media screen and (max-width:1000px) {
    .faq-row-wrapper{
        background-color: transparent !important;
    }
    .row-content-text{
        background: #5E5D5D2B !important;
        color: #FFFFFF !important;
        padding: 20px !important;
    height: max-content !important;
    margin: 10px 0 !important;
    font-family: 'Tomorrow', sans-serif;
    font-size: 14px;
    }
    
    .row-title-text{
        color: rgba(255, 255, 255, 0.61)!important;
        font-family: 'Tomorrow', sans-serif;
      font-size: 18px;
      margin: 10px !important;
    
    }
    .arrow-image{
        color:  white !important;
        fill:  white !important;
        
    }
    .arrow-image svg{
        color:  white !important;
        fill:  white !important;
    
    }
    .styles_faq-row-wrapper__3vA1D .styles_row-body__1NvUo .styles_faq-row__2YF3c .styles_row-title__1YiiY {
        padding: 10px 0;
        display: flex;
        justify-content: space-between;
        color: white !important;
        cursor: pointer;
        align-items: center;
    }
  }